Java/SOA Web/WebProjectSOA/src/main/webapp/wsdl/Application.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="cal">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:int"/>
      <element name="in1" type="xsd:int"/>
      <element name="in2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="calResponse">
    <complexType>
     <sequence>
      <element name="calReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calRequest">

      <wsdl:part element="impl:cal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calResponse">

      <wsdl:part element="impl:calResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Application">

      <wsdl:operation name="cal">

         <wsdl:input message="impl:calRequest" name="calRequest">

       </wsdl:input>

         <wsdl:output message="impl:calResponse" name="calResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ApplicationSoapBinding" type="impl:Application">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ApplicationService">

      <wsdl:port binding="impl:ApplicationSoapBinding" name="Application">

         <wsdlsoap:address location="http://localhost:9093/WebProjectSOA/services/Application"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
